@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Mali:wght@300&family=Neonderthaw&family=Sarabun:wght@100;200&display=swap');
 *{
  font-family: 'Mali', cursive;
  
 }
 body{
   margin: 0;
   width: 100%;
   align-items: center;
   justify-content: center;
   
 }
 .container{
   margin: 20px;
 }
.App {
  text-align: center;
}

.horizontal-menu{
  list-style-type: none; /* ลบจุด */
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: cadetblue;
  text-align: center;

}
.horizontal-menu li{
  display: inline-block;
}
.horizontal-menu a{
  color: aliceblue;
  text-decoration: none;
  padding: 16px;
  display: block;
}

